{
  "plugins": ["react-hot-loader/babel"],
  "presets": [
    ["env", { "useBuiltIns": true }],
    "react",
    "stage-0"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react", "stage-0"]
    }
  }
}
