%yo {
  background-color: black;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  font-size: 40px;
  font-weight: 900;
  color: white;
  display: inline;
  padding: 1rem;
  letter-spacing: 2px;
  box-decoration-break: clone;
  position: absolute;
}

#Ω {
  height: 15vh;

  h1.å {
    @extend %yo;
    font-family: 'Vollkorn', serif;
    top: 150px;
    left: 10px;
    letter-spacing: -5px;
    transform: rotate(-17deg)
  }

  h1.† {
    @extend %yo;
    top: 1px;
    width: 77px;
    transform: rotate(17deg);
  }
}
