#footer {
  background: #ee0979;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff6a00, #ee0979); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

  li {
    font-size: 14px;

    a {
      padding: 0;
      text-decoration: underline;

      &:hover {
        background-color: transparent;
      }
    }

    &.dots {
      margin: 0 5px;
    }
  }
}
