#footer {
  @extend .white;
  color: black;

  li {
    font-size: 14px;

    a {
      color: black;
      padding: 0;
      text-decoration: underline;

      &:hover {
        background-color: white;
      }
    }

    &.dots {
      margin: 0 5px;
    }
  }
}
