#landing-page {
  height: 73vh;

  .wrap {
    height: 200px;
    width: 200px;
    perspective: 0;
    margin: 0 auto;
    margin-top: 50px;

    .cube {
      height: 100%;
      width: 100%;
      position: relative;
	    transform-style: preserve-3d;
      transform: translateZ(-100px) rotateY(0deg);
      transition: transform 1s;

      div {
        position: absolute;
	      width: 200px;
	      height: 200px;

        &.back {
  	       background-color: purple;
           transform: rotateY(180deg) translateZ(100px);
         }

        &.right {
  	      background-color: orange;
          transform: rotateY(90deg) translateZ(100px);
        }

        &.left {
  	      background-color: red;
          transform: rotateY(-90deg) translateZ(100px);
        }

        &.top {
  	      background-color: yellow;
          transform: rotateX( 90deg) translateZ(100px);
        }

        &.bottom {
  	      background-color: black;
          transform: rotateX(-90deg) translateZ(100px);
        }

        &.front {
  	      background-color: blue;
          transform: rotateY(0deg) translateZ(100px);
        }
      }
    }
  }
}
