#landing-page {
  color: white;
  padding-top: 25px;

  .text-body {
    font-size: 18px;
    padding-top: 25px;
    padding-bottom: 20px;

    h3 {
      font-weight: 700;
    }

    p {
      font-size: 16px;
    }
  }

  ul {
    padding-left: 20px;

    li {
      list-style: disc;
    }
  }
}
