#landing-page {
  .top-half {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    position: relative;
    margin-bottom: 0;

    .tint-box {
      @extend .indigo, .darken-4;
      opacity: 0.8;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .text-box {
      color: white;
      position: absolute;
      z-index: 999;
      height: 100%;
      width: 100%;
      padding-top: 50px;
      text-align: center;

      .title-name {
        letter-spacing: 3px;
        font-size: 24px;
        font-weight: 300;
        margin-bottom: 0;
      }

      h3 {
        font-weight: 700;
        margin-top: 0;
        text-transform: uppercase;
      }

      .divider {
        @extend .red;
        height: 3px;
        margin: 0 auto;
        width: 50%;
      }
    }
  }

  .bottom-half {
    height: 50vh;

    .bio {

      height: 100%;
    }

    .contact {
      display: flex;
      justify-content: center;
      height: 100%;

      ul {
        li {
          margin-bottom: 40px;

          .padded-multiline {
            @extend .red;
            line-height: 1.4;
            padding: 2px 0;
            margin: 20px auto;

            a {
              font-style: italic;
              font-size: 40px;
              font-weight: 900;
              color: white;
              display: inline;
              padding: 1rem;
              letter-spacing: 2px;
              box-decoration-break: clone;
            }
          }
        }
      }
    }
  }
}
