@import '~materialize-css/sass/materialize';

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;

  #app {
    #main-UI {

      #landing-view {
        .hero {
          color: white;
          letter-spacing: 2px;
          height: 750px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          position: relative;

          h1 {
            font-weight: 700;
            text-align: center;
          }

          text-align: center;
        }
      }
    }
  }
}
