@import '~materialize-css/sass/materialize';

$color-background: #E1E8F0;
$color-cyan: #6ED3CF;
$color-red: #E62739;
$color-purple: #9068BE;
$color-white: #FFFFFF;

body {
  background-color: $color-background;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;

  #main {

    .profile {
      background-color: $color-red;
      color: $color-white;
      height: 50vh;

      div.col {
        padding-top: 50px;
      }

      h1 {
        font-weight: 300;
        margin-top: -15px;
      }
    }

    .other {
      background-color: $color-purple;
      height: 50vh;

      .hobbies {
        background-color: $color-cyan;
        height: 100%;
      }
    }
  }
}
